{% extends 'index.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="mt-5">Welcome to my Movies Library</h1>
        <p class="lead mb-4">U will find here only the best movies</p>
    </div>
    <div class="col-lg-12 mb-4 text-center btn-group btn-group-toggle" >
        {% for li in list %}
            <a href="{{ url_for('homepage', list_type=li.type) }}" class="btn btn-outline-info {% if li['type'] == selected_list %} active {% endif %}">
                {{li.name}}
            </a>
        {% endfor %}
        </div>
{% for movie in movies %}
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="{{tmdb_image_url(movie.poster_path, 'w780')}}" alt="">
            <div class="card-body">
                <h4 class="card-title text-center">{{movie.title}}</h4>
            </div>
            <div class="card-footer text-center">
                <a href="{{url_for('movie_details', movie_id=movie.id)}}" class="btn btn-primary">Show More</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}  
